body {
  font-family: sans-serif;
}
.wiki-img {
  width: 100%;
}
.wiki-item {
  margin-right: 10px;
  margin-left: 10px;
  box-shadow: 2px 2px 2px 2px lightslategray;
}
.wiki-content {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media screen and (min-width: 600px) {
  .wiki-content {
    display: flex;
    flex-direction: row-reverse;
  }
  .wiki-text {
    min-width: 50%;
    max-width: 50%;
  }
  .img-container {
    min-width: 50%;
    max-width: 50%;
  }
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
}
